.botao-cadastrar{
    padding: 11px;
    font-size: 13px;
    margin: 70px;
    text-transform: uppercase;
    background-color: #00CED1;
    cursor: pointer;
    border: none;
}


.botao-editar{
    background-color:yellow;
    border: none;
    padding: 11px;
    margin-left: 12px;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
}

.botao-excluir{
    background-color: red;
    border: none;
    padding: 11px;
    margin-left: 12px;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
}