.botao-cadastrar{
    padding: 11px;
    font-size: 13px;
    margin: 70px;
    text-transform: uppercase;
    background-color: #00CED1;
    cursor: pointer;
    border: none;
}

.botao-cadastrar:hover{
    transform: scale(1.1);
    background-color: blue;
    color: white;
    font-weight: bolder;
}

.botao-editar{
    background-color:yellow;
    border: none;
    padding: 11px;
    margin-left: 12px;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
}
.botao-editar:hover{
    transform: scale(1.1);
    background-color: rgb(128, 109, 5);
    font-weight: bolder;
    color: white;
}

.botao-excluir{
    background-color: red;
    border: none;
    padding: 11px;
    margin-left: 12px;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
}

.botao-excluir:hover{
    transform: scale(1.1);
    background-color: rgb(124, 8, 8);
    color: white;
    font-weight: bolder;
}

.botao-finalizar{
    cursor: pointer;
    background-color:#00CED1;
    border: none;
    padding: 2px;
    margin: 10px;
    text-transform: uppercase;
}

.botao-finalizar:hover{
    background-color: blue;
    transform: scale(1.1);
    font-weight: bolder;
    color: white;
}
