*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    position: relative;
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 90%;
    margin: 5vh auto;
    padding: 50px;
    gap: 20px
}
h1{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    background-color:#00CED1;
    padding: 20px;
}

