*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position:relative;
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 5vh auto;
    padding: 50px;
    gap: 20px;
}
header{
    background-color:#00CED1;
    height: 70px;
    text-align: center;
    line-height: 70px;
}
header:hover{
    background-color: #0675b6;
}
.header-title{   
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
}
.header-title:hover{
    color: white;
}
footer{
    width:100;
    text-align: center;
    font-weight: 200;
    padding: 20px;
}