.tabela{
    width: 100%;
    text-align: left;
}
.tabela th{
    height: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
}
.tabela td{
    height: 50px;
    padding: 20px;
    text-align: center;
}