th{
    padding: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    font-size: 22px;
}

td{
    text-align: center;
    font-size: 18px;
}
.novo-cadastro{
    border:1px solid black;
    display: inline-block;
    padding: 20px;
    width: 250px;
}

input{
    display: block;
    width:200px;
    height: 30px;
}

label{
    font-weight: bolder;
    text-transform: uppercase;
}

.descricao-novoCadastro{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

